body{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}




.links a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 15px;
    margin-top: 30px;
   

    
   
   

}


.container-center{    
    display: flex;
    background-color: rgb(243, 240, 247);
    justify-content: space-around;
  
   
}

.cta{
    width: ;
    height: 120px;
    display: flex;
    background-color: rgb(222, 218, 224);
    flex-direction: column;
    align-items: center;
    padding: 45px;
    
}

.conte{
    width: ;
    height: 360px;
    background-color: rgb(243, 240, 247);
    display: flex;
    flex-direction: column;
    align-items: center
    
    
    
}

.contenido{
    width: 300px ;
    height: 20 px;
    background-color: rgb(254, 255, 255);
    align-items: center;
    flex-direction: column;    
    padding: 30px;
    margin-top: 40px;
    text-align: center;
    
}

.formlogin{
    width: ;
    height: ;
    background-color: rgb(254, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    
}

.container-footer{
    width: ;
    height: ;
    background-color: black;
    display: flex;
    justify-content: space-around;

}

h2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.continf{    
    display: flex;
    flex-direction: column;
    
}

.txt2{
    font-size: 11px;

}

.txt3{
    font-size: 13px;
}

.txt2_1{
    color:black;
    font-size: 12px;
    
}

.btnini{
    color: white;
    width: 90px;
    height: 20px;
    font-size: 9px;
    background-color: rgb(8, 8, 8);


}

button{    
    color: white;
    background-color: rgb(8, 8, 8);
    

}

.h4{
    color: white;

}

a{
    color: white;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
}



@media (max-width:805px){
}

.btnsign{
    color: black;
    background-color: white;
        
   
}